main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating {
  margin-bottom: 0.5rem;
}

.rating span {
  margin: 0.1rem;
}

.checkout-btn {
  color: #fff;
  background: #7b8ab8;
}

@media (max-width: 1080px) {
  .cart-display .form-control {
    margin-right: 0;
    padding: 0.6rem 0;
    text-align: center;
  }

  .cart-display button,
  .cart-btn {
    padding: 0.8rem;
  }
}

@media (max-width: 786px) {
  .cart-display .row > * {
    margin: 0.5rem 0;
  }

  .cart-display .col-md-2,
  .cart-display .col-md-3 {
    text-align: center;
  }

  .cart-display .col-md-3 {
    width: 50%;
  }

  .cart-display .col-md-2 {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-display .form-control {
    width: 100%;
    margin-right: 0;
    padding: 0.6rem 0;
    text-align: center;
  }

  .cart-display button {
    padding: 0.8rem;
  }

  .cart-btn {
    display: block;
    width: 50%;
    margin: auto;
    padding: 0.6rem 0.3rem;
  }
}
